.promotion-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 52px;
    }

    &__nav-btn {
        margin-top: 20px;
        width: 12px;
        height: 12px;
        background-color: rgba(229, 45, 45, 1);
        border-radius: 50%;
    }
}