.promotion {
    position: relative;
    padding: 150px 0 112px 0;
}

.promotion__pizza-img {
    display: block;
    position: absolute;
    right: -19%;
    top: -20px;
    max-height: 630px;
    transform: scale(1.1);
    max-width: 70%;
}

.promotion__order-info-container {
    width: 45%;
    margin-bottom: 277px;
}

.promotion__title {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Alegreya";
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.promotion__description {
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-family: "Roboto";
    max-width: 450px;
    line-height: 36px;
}

.promotion__choose-pizza-btn {
    width: 100%;
    max-width: 304px;
    height: 60px;
    background-color: rgba(229, 45, 45, 1);
    font-weight: 700;
    font-family: "Alegreya";
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.promotion__advertising-card-list { 
    display: flex;
    justify-content: space-between;
}

.promotion__carousel-wrapper {
    display: none;
}

@media (max-width: 1140px) {
    .promotion {
        position: relative;
        padding: 40px 0 112px 0;
    }

    .promotion__order-info-container {
        margin-bottom: 120px;

    }
}

@media (max-width: 768px) {
    .promotion {
        position: relative;
        padding: 0px 0 112px 0;
    }

    .promotion__order-info-container {
        margin-bottom: 60px;

    }

    .promotion__title {
        font-size: 4rem;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .promotion {
        padding-top: 240px
    }

    .promotion__pizza-img {
        display: block;
        position: absolute;
        right: 0%;
        top: -20px;
        max-height: 630px;
        transform: scale(1.1);
        max-width: 100%;
    }

    .promotion__order-info-container {
        width: 100%;
        text-align: center;
    }

    .promotion__advertising-card-list {
        display: none;
    }

    .promotion__carousel-wrapper {
        display: block;
    }
}