.visitors-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__number {
        font-size: 1.35rem;
        text-transform: uppercase;
        font-family: 'Alegreya';
        font-weight: 900;
        line-height: 32px;
        white-space: nowrap; 
    }

    &__working-days {
        color: rgba(132, 138, 154, 1);
        font-size: 0.70rem;
        font-family: 'Roboto';
    }
}
