.pizza-filter {
    position: relative;

    &__btn {
        font-weight: 700;
        font-size: 1rem;
        font-family: 'Alegreya';
        text-transform: uppercase;
        &:hover {
            color: red;
        }
    }


    &__img {
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0%);
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover .pizza-filter__img {
        bottom: 20px;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 380px) {
    .pizza-filter {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__btn {
            display: none;
        }

        &__img {
            position: static;
            visibility: visible;
            opacity: 1;
            transform: none;
            cursor: pointer;

            &:hover {
                filter: invert(10%) sepia(97%) saturate(6902%) hue-rotate(0deg) brightness(90%) contrast(104%);

                color: #ff0000;
            }
       
        }
    }
}