.switch-lang {
  width: 48px;
  height: 48px;
  background-color: rgba(239, 240, 241, 1);
  border-radius: 50%;
  font-family: 'Alegreya';
  font-weight: 700;
}
  
  @media (max-width: 576px) { 
    .switch-lang { 
      display: none;
    }
}