.modal {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.849);
    z-index: 1000;
    transition: .2s;
    pointer-events: none;
    max-width: calc(100vw - var(--scrollbar-width)); 

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        padding: 30px;
        min-height: 90px;
        max-width: 704px;
        width: 95%;        
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        transform: scale(0.5);
        transition: .2s;
        color: rgb(0, 0, 0);
        font-family: "Gilroy-Regular";
        z-index: 100;
    }
    
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    
    &__content.active {
        transform: scale(1);
    }   

    &__cross {
        position: absolute;
        right: 30px;
        top: 30px;
        stroke: rgba(0, 0, 0, 1);
    }
}

@media (max-width: 480px) {
    .modal {

        &__content {
            padding: 10px;
        }

        &__cross {
            right: 5px;
            top: 5px;
        }
    }
}