.container {
    max-width: 1320px;
    width: 92%;
    margin: 0 auto;
}

html {
    font-size: 18px;
}

.ap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
    position: relative;
    overflow-x: hidden;
    --scrollbar-width: calc(100vw - 100%);
}

@media (max-width: 1024px) {
    html {
        font-size: 13px;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 10px;
    }
}

