.pizza-image-card {
    position: relative;
    margin-bottom: 10px;
    height: 100%;

    &__big-size-outline {
        top: 0;
        position: absolute;
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background-color: transparent;
        border: 2px rgba(220, 223, 226, 1) dashed;
    }

    &__medium-size-outline {
        top: 8%;
        left: 8%;
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: transparent;
        border: 2px rgba(220, 223, 226, 1) dashed;
    }

    &__img {
        transition: 0.5s;
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        background-position: center;
        z-index: 10;

        &--big {
            transform: scale(1.1);
        }
    
        &--medium {
            transform: scale(0.9);
        }
    
        &--small {
            transform: scale(0.75);
        }
    }

}
