.promotion-card__img {
    width: 100%;
    max-height: 247px;
    margin-bottom: 12px;
    display: flex;

}

.promotion-card__title {
    margin-bottom: 14px;
    font-size:  1.35rem;
    font-family: 'Alegreya';
    font-weight: 700;
}

.promotion-card__description {
    font-size: 0.7rem;
    font-family: 'Roboto';
}