.advantages-card {
    display: flex;
    justify-content: space-between;
}

.advantages-card--reverse {
    flex-direction: row-reverse;
}


.advantages-card__img {
    width: 314px;
    height: 314px;
    border-radius: 40%;
}

.advantages-card__info {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-card__title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: 'Alegreya';
    font-weight: 700;
}

.advantages-card__description {
    font-family: 'Roboto';
    font-size: 0.75rem;
}

@media (max-width: 1140px) {
    .advantages-card__img {
        width: 243px;
        height: 243px;
    }

}

@media (max-width: 768px) {
    .advantages-card__img {
        width: 203px;
        height: 203px;
    }

    .advantages-card__info {
        max-width: 55%;
    }
}

@media (max-width: 480px) {
    .advantages-card__img {
        width: 153px;
        height: 153px;
    }
}

@media (max-width: 360px) {
    .advantages-card__img {
        width: 73px;
        height: 73px;
    }

    .advantages-card__info {
        max-width: 75%;
    }
}