.delivery-info {
    padding: 65px 0 80px;
    background-color: rgba(248, 246, 243, 1);
}

.delivery-info__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Alegreya';
    font-weight: 700;
}

.delivery-info__stage-list {
    display: flex;
    justify-content: space-between;
}

.delivery-info__stage-list-item {
    flex: 0 0 31%; 
}

@media (max-width: 576px) {
    .delivery-info__stage-list {
       flex-direction: column;
       justify-content: space-between;
    }

    .delivery-info__stage-list-item {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}