.order-form {
    display: block;

    &__order-details {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 24px;
        font-family: 'Alegreya';
        font-weight: 700;
        font-size: 1.7rem;
    }

    &__cart-list {
        margin-bottom: 10px;
    }

    &__cart-list-item {
        padding: 8px 0;
        border-top: 1px rgba(220, 223, 226, 1) solid;
    }

    &__cart-list-item:last-child {
        border-bottom: 1px rgba(220, 223, 226, 1) solid;
    }

    &__total-cost {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__total-cost-title {
        margin-right: 20px;
        font-family: 'Alegreya';
        font-weight: 700;
    }

    &__total-cost-value {
        font-family: 'Alegreya';
        font-weight: 700;
        font-size: 1.8rem;
        margin-right: 10px;
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        &__title {
            margin-bottom: 12px;
            font-family: 'Alegreya';
            font-weight: 700;
        }
    }

    &__user-contact-info {
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-input-name-wrap {
            position: relative;
            width: 48%;
        }

        &-input-tel-wrap {
            position: relative;
            width: 48%;
        }

        
        &-input-adres-wrap {
            position: relative;
            width: 100%;
        }

    }



    &__payment-methods-title {
        margin-bottom: 12px;
        font-family: 'Alegreya';
        font-weight: 700;
    }

    &__payment-methods-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__payment-input {
        height: 20px;
        width: 20px;
        position: relative;
        border: 1px solid rgba(196, 199, 202, 1);

        &:hover {
            border-color: rgba(0, 0, 0, 1);
        }

        &:checked {
            border-color: rgba(0, 0, 0, 1);
        }

        &:checked:before {
            background-color: rgba(229, 45, 45, 1);
        }

        &:disabled {
            background-color: rgba(241, 241, 241, 1);
            border-color: rgba(196, 199, 202, 1);
        }

        &:disabled:before {
            background-color: rgba(178, 178, 178, 1);
        }
    }

    &__btn-container {
        margin-bottom: 23px;
        height: 52px;
    }

    &__privacy-policy {
        font-family: 'Roboto';
        font-size: 0.7rem;
        color: rgba(132, 138, 154, 1);
    }
}

@media (max-width: 576px) {
    .order-form {
        &__btn-container {
            height: 40px;
        }
    }

}