.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
}

.header__container-logo {
    width: 14%;
    height: 100%;
}

.header__nav-container {
    width: 26%;
}

.header__third-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46%;

}