.tel-info-container {
    display: flex;
    align-items: center;

}

.tel-info-container__img {
    width: 40px;
    height: 40px;
    background: no-repeat url('../../assets/Tel-icon.png');
}

.tel-info-container__wrapper {
    display: flex;
    flex-direction: column;
}

.tel-info-container__number {
    font-size: 1.35rem;
    text-transform: uppercase;
    font-family: 'Alegreya';
    font-weight: 900;
    line-height: 32px;
}

.tel-info-container__working-days {
    color: rgba(132, 138, 154, 1);
    font-size: 0.70rem;
    font-family: 'Roboto';
}