.pizza-card {
    height: 540px;
    max-width: 304px;
    padding:  20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgba(165, 169, 176, 0.3) 1px solid;
}

.pizza-card__img {
    margin-bottom: 10px;
    display: block;
    height: 212px;

}

.pizza-card__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pizza-card__title {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Alegreya';
    font-weight: 700;
}

.pizza-card__composition {
    max-width: 264px;
    max-height: 36px;
    text-align: center;
    font-size: 0.7rem;
    color: rgba(132, 138, 154, 1);
    font-family: 'Roboto';
    line-height: 18px;
}

.pizza-card__order-params-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.pizza-card__size-title {
    font-size: 0.7rem;
    font-family: 'Roboto';

}

.pizza-card__size-variants {
    display: flex;
}

.pizza-card__choose-variant-btn {
    width: 58px;
    height: 28px;
    padding: 5px 7px;
    font-size: 0.7rem;
    background-color: rgba(239, 240, 241, 1);
}

.pizza-card__min-cost {
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 700;
}

.pizza-card__order-btn {
    font-family: 'Alegreya';
    font-weight: 700;
    background-color: rgba(229, 45, 45, 1);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 14px 69px;
    border-radius: 5px;
}