.delivery-stage {
    max-width: 416px;
    max-height: 144px;
    padding: 36px 5px;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
}

.delivery-stage__img {
    max-height: 80px;
    max-width: 80px;
    margin-right: 20px;
}

.delivery-stage__info {
    display: flex;
    flex-direction: column;
}

.delivery-stage__title {
    margin-bottom: 5px;
    font-family: 'Alegreya';
    font-weight: 700;
    font-size: 1.35rem;
    text-wrap: nowrap;
}

.delivery-stage__description {
    font-size: 0.65rem;
    font-family: 'Roboto';
    line-height: 18px;
}

@media (max-width: 1140px) {
    .delivery-stage {
        flex-direction: column;
        max-height: 217px;

    }

    .delivery-stage__img {
        max-height: 56px;
        max-width: 56px;
    }
}

@media (max-width: 768px) {
    .delivery-stage {
        max-height: 177px;
    }

    .delivery-stage__img {
        max-height: 56px;
        max-width: 56px;
    }
}

@media (max-width: 576px) {
    .delivery-stage {
        max-width: 288px;

        flex-direction: row;
    }
}